# Node modules
node_modules/

# Environment variables
.env
src/config/env.js

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE-specific files (optional)
.vscode/
.idea/
